* {
    box-sizing: border-box;
    margin: 0px;
}
li {
    list-style-type: none;
    margin-bottom: 15px;
}
a {color: rgb(252, 162, 162); text-shadow:0 0 10px #ff9191; text-decoration: none;}
a:visited {color: rgb(252, 162, 162); text-shadow:0 0 10px #ff9191;}
a:active {color: rgb(252, 162, 162); text-shadow:0 0 10px #ff9191;}
a:hover {color: rgb(252, 162, 162); text-shadow:0 0 10px #ff9191;} 
body {
    background-color: rgb(238, 253, 252);
}
.header__container {
    width: auto;
    height: 75px;
    background-color: black;
}
.header-row {
    padding-left: 20px;
    padding-top: 12px;
}
.header__logo {
    font-family: sans-serif; 
    font-weight: 700;
    font-size: 40px;
    color: white;
    text-shadow:0 0 10px #dadada;
}
.main {
    height: 1800px;
    background-color: rgb(238, 253, 252);
}
.container-main__sidebar {
    margin-top: 20px;
    position: fixed;
    top: 100px;
    width:300px;
    height: 200px;
    border: 2px solid black;
    border-left: 1px;
    border-bottom: 1px;
    border-top: 1px
}
.main-content__sidebar {
    padding-left: 10px;
    padding-top: 5px;
}
.main-content__sidebar__text {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 30px;
}
.main-content__sidebar__list {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 10px;
}
.container-main__content {
    position:absolute;
    left: 320px;
    top: 100px;
    width: 1550px;
    height: 1700px;
    border: 2px solid black;
    border-left: 1px;
}
.main-content-container__letter {
    position:sticky;
    top: 10px;
    background-color: rgb(238, 253, 252);
    width: 1500px;
    height: 50px;
    border: 2px solid black;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 2px;
    margin-bottom: 10px;
}
.main-content__letter {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 40px;
}
.main-content__sname {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-left: 50px;
}

.footer {
    position:relative;
    top: 1750px;
    width:auto;
    height: 50px;
    background-color: black;
}
.footer-text {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 25px;
    color:white;
    text-shadow: 0 0 10px #dadada;
    padding-left: 10px;
    padding-top: 10px;
}